body {
	margin: 0;
	height: 100vh;
}

pre {
	display: inline-block;
	margin: 0;
}

code {
	display: block;
	background: #2d2d2d;
	/* padding: 1rem; */
	margin: 0;
	font-size: 0.8rem;
}

main {
	margin: 4rem;
	font-family: "Open Sans", sans-serif;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 2fr;
	border: black 3px solid;
	margin-bottom: 1rem;
}

.grid .first {
	border-right: black 3px solid;
}

.line-num {
	background-color: #353535;
	user-select: none;
	margin-right: 0.2rem;
}

.line-num .lit {
	color: #a3a3a3;
}

.internals {
	padding: 1rem;
	display: grid;
	grid-template-columns: auto 3fr;
	grid-template-rows: 1fr 3fr;
	gap: 1rem;
}

h3 {
	margin: 0;
}

#callstack,
#event-queue,
#console {
	width: 100%;
	height: 100%;
}

#callstack {
	resize: none;
	height: calc(100% - 1.5rem);
	display: flex;
	flex-direction: column-reverse;
}

#event-queue {
	height: calc(100% - 1rem);
	display: flex;
	flex-wrap: wrap;
}

#console {
	resize: none;
	height: calc(100% - 1rem);
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.callstack {
	grid-area: 1 / 1 / span 2 / span 1;
	text-align: center;
	border: black 3px solid;
	padding: 0.5rem;
	min-width: 10rem;
}

.event-queue {
	border: black 3px solid;
	padding: 1rem;
	min-height: 7rem;
	height: min-content;
	min-width: calc(100% - 20rem);
}

.callstack-item {
	width: 100%;
	text-align: center;
	border: black 2px solid;
	/* background: #c385e0; */
	background: #2d2d2d;
	font-size: 1.2rem;
	margin-top: 0.2rem;
}

.callstack-item pre {
	margin: 0.5rem;
}

.event-queue-item {
	height: min-content;
	text-align: center;
	border: black 2px solid;
	/* background: #c385e0; */
	background: #2d2d2d;
	font-size: 1.2rem;
	margin-top: 0.2rem;
	margin-right: 0.2rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.event-queue-item pre {
	color: #ccc;
	margin: 0.5rem;
}

.console {
	border: black 3px solid;
	padding: 1rem;
}

.console-item {
	display: inline-block;
	width: 100%;
	height: min-content;
	text-align: left;
	/* background: #c385e0; */
	background: #2d2d2d;
	font-size: 1rem;
	color: #ccc;
}

.highlight {
	display: inline-block;
	width: 100%;
	background-color: #db4646;
}

.highlight .line-num {
	background-color: #db4646;
}
